
// COLORS
$primary: #1A3755;
$secondary: #01061A;
$font-primary: #D4AF37;
$font-secondary: #1A3755;
$font-active: #F9DD81;

$prussian: #1A3755;
$xicetic: #01061A;
$shadow-blue: #718BA6;
$opal: #64888f;
$gold: #D4AF37;


$white: #fff;
$black: #000;

//font
$font-family-primary: 'Cinzel', serif;
$font-family-secondary: 'Amiri', sans-serif