.menu {
    // display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;

    .menu-secondary-bg {
        background: $black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    .menu-layer {
        position: relative;
        background: $red;
        height: 100%;
        overflow: hidden;
        
        &__container {

            &__wrapper {
                position:relative;

                &__links {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    top: 200px;

                    nav {
                        display: block;

                        ul {
                            margin: 0;
                            padding: 0;

                            li {
                                list-style: none;
                                font-size: 6rem;
                                font-weight: 700;
                                cursor: pointer;
                                height: 135px;
                                overflow: hidden;
                                position: relative;
                                width: 700px;

                                a {
                                    position: absolute;
                                    color: #fff;
                                    text-decoration: none;

                                    &:hover {
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
    
}
